body {
    background-color: #f8f9fa;
}

.chat-container {
    display: flex;
    height: 100vh;
}

.chat-list {
    width: 30%;
    background-color: #f5edf5;
    padding: 15px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.chat-list .chat-item {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}
.chat-item:Hover{
    background-color: rgb(240, 157, 171) ;
    font-size: 18px;
}
.chat-list .chat-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-list .chat-item .chat-text {
    flex-grow: 1;
}

.chat-list .chat-item .time {
    font-size: 0.8em;
    color: #999;
}

.chat-window {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 20px;
    background-color: #f5edf5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
}

.chat-message {
    display: flex;
    margin-bottom: 10px;
}

.chat-message.sent {
    justify-content: flex-end;
}

.chat-message .message-content {
    background-color: #c7c2d1;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 60%;
}

.chat-footer {
    padding: 15px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    background-color: #f5edf5;
}

.chat-footer input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.chat-footer button {
    background: none;
    border: none;
    font-size: 1.5em;
    color: #999;
}

.logout:Hover{
    background-color: rgb(240, 157, 171);
}

.chat-list .conver{
    margin: 10px;
}
.chat-list .conver:Hover{
    background-color: rgb(0, 211, 0);
}

.hidden-list {
    display: none;
    list-style-type: none;
    padding-left: 20px;
}

/* สไตล์สำหรับลูกศร */
.arrow {
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s;
}

/* เมื่อคลิกให้หมุนลูกศร */
.arrow.down {
    transform: rotate(90deg);
}

.title {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

.listn{
    padding-left: 20px
}
.listn:Hover{
    background-color: rgb(240, 157, 171);
    
}